.content-film-erro {
  display: none;
  grid-template-columns: auto 1fr;
  align-items: center;
  gap: 2.125rem;
}

.content-film-erro.active {
  display: grid;
}

.content-film-erro-text h2 {
  font-family: var(--family-1);
  text-align: center;
  font-weight: bold;
  font-size: 1.25rem;
  line-height: 1.875rem;
  color: var(--color-2);
}

.callback-text {
  display: block;
  margin-top: 4px;
  color: var(--color-3);
}

@media (max-width: 37.5rem) {
  .content-film-erro {
    grid-template-columns: 1fr;
    justify-items: center;
    padding-bottom: 2.5rem;
  }

  .content-film-erro-text h2 {
    font-size: 1.125rem;
  }
}
