:root {
  /* background */
  --background-1: linear-gradient(
    67.08deg,
    #1e46a3 0%,
    #000000 48.94%,
    #c12a23 99.97%
  );
  --background-2: #e9e6e3;
  --background-3: #1a1a1a;

  /* colors */
  --color-1: #000000;
  --color-2: #fffcf9;
  --color-3: #67dd0a;

  /* family-fonts */
  --family-1: "Poppins", sans-serif;
}
